{{ define "main" }}
<div class="headline">
  <div>
    <div class="text-3xl font-bold">{{ index .Site.Data.config.title }}</div>
    <div class="text-2xl">{{ index .Site.Data.config.subtitle }}</div>
  </div>
  <div>
    <div class="nav-bar">
      {{ range .Site.Data.config.links }}
      <a href="{{.url}}" target="_blank" class="nav-item">
        <div>{{ partial "fa"  (dict "icon" .icon "size" 4 )}}</div>
        <div class="font-bold">{{.name}}</div>
      </a>
      {{ end }}
    </div>
  </div>
</div>

<div class="card-layout">
  {{range .Site.Data.config.services}}
  <div class="card-group">
    <div class="card-group-text">
      <div>{{ partial "fa" (dict "icon" .icon "size" 8 )}}</div>
      <div class="text-2xl font-semibold">{{.name}}</div>
    </div>

    <div>
      {{ range .items }}
      <a class="link-card group" href="{{.url}}" target="_blank">
        <div>{{partial "svg" .icon }}</div>
        <div>
          <p class="text-xl font-semibold">{{.name}}</p>
          <p class="text-base">{{.subtitle}}</p>
        </div>
        {{ partial "card-tag" . }}
      </a>
      {{ end }}
    </div>
  </div>
  {{end}}
</div>
{{ end }}